.remove_item_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 35, 35, 0.304);
  z-index: 99999;
}

.remove_item_modal_overlay .remove_item_modal {
  max-width: 425px;
  max-height: 225px;
  background-color: white;
  position: absolute;
  top: 180px;
  left: 450px;
  border-radius: 4px;
  z-index: 999999;
}

.remove_item_modal_overlay svg {
  color: white;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;

  position: absolute;
  top: 175px;
  left: 856px;
}

.remove_item_modal .heading {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 26px;
}

.remove_item_modal span{
  padding: 50px 26px;
  padding-top: 0;
}

.remove_item_modal .buttons {
  display: flex;
  justify-content: space-around;
  width: 406px;
  padding: 30px 0;
}

.remove_item_modal .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  opacity: 1;
  width: 166px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
}

.remove_item_modal .cancel_btn {
  border: 0.5px solid gray;
}

.remove_item_modal .cancel_btn:hover {
  color: #2874f0;
}

.remove_item_modal .remove_btn {
  color: white;
  background-color: #2874f0;
  border: .5px solid rgba(211, 207, 207, 0.61);
}

/* Mobile Responsiveness - 420px */
@media screen and (max-width: 420px) {
  .remove_item_modal_overlay {
    background-color: rgba(36, 35, 35, 0.626);
  }

  .remove_item_modal_overlay .remove_item_modal {
    left: 31px;
    top: 350px;
    width: 350px;
    height: 152px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .remove_item_modal .heading {
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    margin: 1.5rem 1.5rem 1rem;
  }

  .remove_item_modal span {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0.5rem 1.5rem;
  }

  .remove_item_modal .buttons {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }

  .remove_item_modal .btn {
    font-size: 14px;
    max-height: 46px;
    border: 0.5px solid rgba(235, 229, 229, 0.527)
  }

  .remove_item_modal .cancel_btn {
    color: gray;
  }

  .remove_item_modal .remove_btn {
    color: gray;
    background-color: #fff;
  }
}
