/* Styles for Login */
.login_cnt {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.login_cnt .admin_login {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
}

.admin_login input {
  color: black;
  background-color: white;
  width: 100%;
  padding-bottom: 5px;
  border: none;
  border-bottom: 0.5px solid rgba(215, 211, 211, 0.708);
}

.admin_login input:focus {
  outline: none;
  border-bottom: 1.5px solid #2874f0;
}

.admin_login .password {
  display: flex;
  align-items: center;
  width: 100%;
}

.admin_login .login_btn {
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #fb641b;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  cursor: pointer;
  width: 100%;
  user-select: none;
}

/* Styles for Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: white;
  background-color: #2874f0;
}

.nav .nav_menu {
  display: flex;
  gap: 30px;
}

.nav a {
  color: white;
}

.nav a:hover {
  color: white;
}

.admin_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* Admin dashboard css */

.admin_dashboard {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  gap: 80px;
  padding: 50px;
}

/* Styles for Order Page */
.orders_sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70vw;
}

.orders_sec .order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(208, 204, 204, 0.742);
}

.order .order_header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid rgba(208, 204, 204, 0.742);
}

.order .order_detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(208, 204, 204, 0.742);
}

.order .order_detail select {
  cursor: pointer;
}

.order .prodt {
  display: flex;
  padding: 10px;
}

.order .prodt:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.prodt .img_cnt {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prodt .img_cnt img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.prodt .prodt_det {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 500px;
}

.prodt_det .name {
  display: flex;
  gap: 10px;
  width: 90%;
}

.rating {
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  width: max-content;
  color: white;
  background-color: #388e3c;
  border-radius: 4px;
}

.off {
  color: #388e3c;
}

/* Styles for left container */
.left_cnt {
  display: flex;
  flex-direction: column;
}

.left_cnt a {
  width: 200px;
  height: 50px;
  border: 1px solid rgba(210, 209, 209, 0.639);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_cnt a:hover {
  color: white;
  background-color: #2874f0;
}

/* Styles for right container */
.data_section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.data_section a {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 0.5px solid rgba(207, 202, 202, 0.639);
}

.data_section a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.data_section .img_cnt {
  width: 180px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data_section .img_cnt img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
