.details_cnt {
  text-align: center;
  padding: 40px 0;
  width: 96vw;
  background: white;
  margin: 10px 20px;
}

.details_cnt .details {
  display: flex;
  gap: 100px;
}

.details .detail_left {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 140px;
  left: 100px;
  height: 540px;
}

.details .detail_left .img_cnt {
  height: 370px;
  border: 0.5px solid rgba(174, 172, 172, 0.2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details .detail_left .img_cnt img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.details .detail_left .cta_btn_cnt {
  color: white;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.details .detail_left .cta_btn_cnt .btn {
  color: #fff;
  font-weight: 500;
  width: 195px;
  height: 55px;
  padding: 18px 8px;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.details .detail_left .cta_btn_cnt .add_cart {
  background-color: #ff9f00;
}

.details .detail_left .cta_btn_cnt .buy_now {
  background-color: #fb641b;
}

/* Styles for right side of details */
.details .detail_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.detail_right .p_name {
  font-size: 18px;
}

.detail_right .pd_price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail_right .pd_price .pay {
  font-size: 28px;
  font-weight: 500;
}

.detail_right strike {
  color: gray;
}

.detail_right .off {
  font-weight: 600;
  color: #388e3c;
}

.detail_right .sec {
  font-size: 14px;
  margin: 1.5rem 0;
  font-weight: 600;
  display: flex;
}

.detail_right .sec .secLeft {
  color: #878787;
  padding-right: 2rem;
}

/* Styles for Specifications */
.detail_right .specs_cnt {
  width: 98%;
  border: 1px solid rgba(181, 179, 179, 0.527);
  border-radius: 2px;
}

.specs_cnt .spec_heading {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem;
  text-align: start;
  border-bottom: 1px solid rgba(181, 179, 179, 0.527);
}

.specs_cnt .specs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 1rem;
}

/* Styles for Similar Prodcts */
.similar_products_section {
  min-height: 424px;
  margin: 20px 0;
  padding-top: 24px;
  background-color: white;
}

.similar_products_section .heading {
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
}

.similar_products_section .similar_products_cnt {
  display: flex;
}

.similar_products_cnt .similar_product {
  width: 220px;
  max-width: 228px;
  height: 326px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar_products_cnt .similar_product .img_cnt {
  padding: 0 28px 16px;
  width: 100%;
  height: 180px;
  display: flex;
}

.similar_products_cnt .similar_product .img_cnt img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.similar_products_cnt .similar_product .review {
  padding-left: 28px;
  width: 100%;
}

.rating {
  font-size: 10px;
  font-weight: 500;
  height: 20px;
  width: max-content;
  color: white;
  padding: 2px 6px;
  background-color: #388e3c;
  border-radius: 4px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.similar_products_cnt .similar_product .price_cnt {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.similar_products_cnt .similar_product .price {
  font-size: 14px;
  color: gray;
}
.similar_products_cnt .similar_product .off {
  font-size: 13px;
  font-weight: 600;
  color: #388e3c;
  margin-left: 10px;
}

/* Utills */
.grey {
  /* color: grey; */
}

/* Mobile Responsiveness - 420px */
@media screen and (max-width: 420px) {
  .details_cnt {
    width: 100%;
    margin: 0;
    height: max-content;
  }

  .details_cnt .details {
    gap: 0;
    flex-direction: column;
  }

  .details .detail_left {
    position: static;
    align-items: center;
  }

  .details .detail_left .cta_btn_cnt {
    position: fixed;
    bottom: 0px;
    padding: 10px 0 20px;
    background-color: #fff;
  }

  .details .detail_right {
    padding: 1rem;
    width: 90%;
  }

  .similar_products_section {
    height: max-content;
    border-top: 0.5px solid rgba(242, 236, 236, 0.728);
    margin-bottom: 80px;
  }

  .similar_products_section .similar_products_cnt {
    flex-wrap: wrap;
  }

  .similar_products_cnt .similar_product {
    max-width: 180px;
    padding: 1rem 0.7rem;
    border: 0.5px solid rgba(240, 236, 236, 0.582);
  }
}

@media screen and (max-width: 390px) {
  .similar_products_cnt .similar_product {
    max-width: 150px;
    padding: 1rem .4rem;
  }
}
