.search_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.search_modal {
  color: rgb(143, 142, 142);
  position: relative;
  top: 65px;
  left: 246px;
  width: 525px;
  height: 360px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.search_modal {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search_modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.search_modal h5 {
  padding: 10px 20px;
  margin: 0;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result a {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 5px;
}

.result a:hover {
  z-index: 99999;
  background-color: rgba(217, 217, 245, 0.616);
}

.result a {
  display: flex;
}

.result img {
  margin-right: 20px;
}

.result svg {
  color: rgb(143, 142, 142);
  font-weight: 400;
  margin-right: 10px;
}

.dodg_blue {
}

/* Mobile Responsiveness - 412px */
@media screen and (max-width: 412px) {
  .search_modal {
    left: 6px;
    top: 100px;
    width: 400px;
    height: 600px;
  }
}
